@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #eeedde;
}
header {
  position: sticky;
  top: 0;
}
.navbar {
  background-color: #e0ddaa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 1px 1px 1px 1px #141e27;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 5px;
}
.menu > a {
  color: #203239;
  text-decoration: none;
}
.jumbotron {
  display: flex;
  flex-direction: row;
  background-color: #203239;

  justify-content: center;
}
.backgroundMain {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}
.picture {
  border-radius: 50%;
  overflow: visible;
  background-color: #e0ddaa;
  width: 300px;
  height: 300px;
}
.tittle {
  width: 400px;
}
.tittle,
h1,
p {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 5px 0px 0px 0px;
  color: #e0ddaa;
}
.pict {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.pict > img {
  width: 500px;
}
.tittleChild {
  border: solid 1px #e0ddaa;
  border-radius: 50px;
  margin-top: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tittleChild > a {
  padding: 5px;
  margin: 0px;
  font-size: large;
  text-decoration: none;
}
.tittleChild > .txt1 {
  text-align: center;
  background-color: #e0ddaa;
  color: #203239;
  border-radius: 50px;
  width: 60%;
}
.tittleChild > .txt2 {
  text-align: center;
  width: 40%;
  color: #e0ddaa;
}
.about {
  display: flex;
  width: 100%;
}
.aboutChild1 {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #e0ddaa;
  padding: 10px;
  border-radius: 15px;
  width: 50%;
}
.aboutChild2 {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  width: 50%;
  justify-content: center;
}
.description > p {
  color: #203239;
}
.aboutChild1 > h1 {
  color: #203239;
}
.contact {
  display: flex;
  width: 100%;
}
.contactChild1 {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  width: 50%;
}
.contactChild1 > h1 {
  color: #203239;
}
.contactChild1 > form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contactChild1 > form > input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #203239;
  margin-top: 10px;
}
.contactChild1 > form > button {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  color: #203239;
  border: 1px solid #203239;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.contactChild1 > form > button:hover {
  background-color: lawngreen;
  color: #203239;
  border: 0px;
}
/* test */
